# Python test artifacts
.hypothesis/
.pytest_cache/
.ipynb_checkpoints/
analysis_mu1P/
analysis_mu2P/
analysis_pRecoil/

# Python bytecode
__pycache__/
*.pyc

# Virtual envs (adjust to your name)
.venv/
venv/

#pdf files
*.pdf

# Test / temp data
synthetic_test_data/
file_list_test.txt
